# Python
__pycache__/
*.py[cod]
*.egg-info/
.env

# Conda / venv
.venv/
*.conda

# Data — never commit raw data
data/ISIC_2019/

# Model outputs — weights are too large for GitHub
outputs/checkpoints/
outputs/figures/

# Jupyter
.ipynb_checkpoints/

# VSCode
.vscode/

# Wandb
wandb/

# Mac system files
.DS_Store
.DS_Store?
**/.DS_Store